.alert-success {
  border: solid 2px darkgreen;
  padding-left: 15px;
  background-color: #0aa811;
  font-weight: bolder;
  color: white;
  margin: 5px 10px 5px 10px;
}

.alert-error {
  border: solid 1px red;
  padding-left: 15px;
  background-color: #ee3b1b;
  font-weight: bolder;
  color: white;
  margin-left: 10px;
}
