.properties {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-wrap: wrap;
  padding: 15px;
}

.Form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

button {
  width: max-content;
  background-color: blanchedalmond;
  font-size: 16px;
}
